PORT=5000
JWT_SECRET='supersecretkey123'
RECAPTCHA_SECRET='6Ld8_dYsAAAAAOjQY7pocYTiMBYt2BUSX_u4kb2h'
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password
EMAIL_FROM=Your Name <your_email@example.com>

# Optional: set production flags
NODE_ENV=production